{% extends 'NicoAppBundle:App:layout.html.twig' %}
{% block title %}{{ parent() }} Accueil{% endblock %}
{# Contenu #}
{% block contenu %}
{% for flash_message in app.session.flashBag.get('notice') %}
<div class="alert alert-info">
    {{ flash_message }}
</div>
{% endfor %}
<div id="error" class="alert alert-danger text-center" style="display: none">
    Erreur lors de la géolocalisation. Réessayez en actualisant la page ou choisissez votre position manuellement.
</div>
<h1 class="text-center">Bienvenue sur "Mon Spot" !</h1>
<p class="text-center">Ici, vous pouvez trouvez les terrains de motocross près de chez vous facilement. Ceci est la première version du site, elle s'ameliorera au fur et à mesure du temps!</p>
<div class="bloc-map">
    <input type="text" id="adresse" class="controls" name="adresse" value="" placeholder="Entrez votre adresse...">
    <button type="button" id="geoloc" class="controls" name="geoloc">
        <span class="fa fa-globe fa-2x"></span>
    </button>
    <div id="map" class="map-index"></div>
    <p class="text-center">
        <em>Affichez les terrains près de chez vous en indiquant votre adresse ou en vous géolocalisant grâce au bouton <span class="fa fa-globe"></span></em>
    </p>
</div>
{# End Contenu #}
{% endblock %}
{# Javascript #}
{% block javascripts %}
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="{{ asset('js/index.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0kpgqFBKDY2mmNCRDuRGWqzUBPi9PiK4&signed_in=true&libraries=places&callback=initMap"
async defer></script>
{# End Javascript #}
{% endblock %}
